{% extends "layout.html" %}
{% block content %}
    <h2>Movie Reviews</h2>

    <table border="1" cellspacing="0">
    <tr>
    <td> Movie </td>
    <td> Year </td>
    <td> Genre </td>
    <td> Rating </td>
    <td> Review </td>
    <td> Reviewer </td>
    </tr>
    {% for review in reviews %}
        <p class=review>
            <tr>
            <td>{{review.movie}}</td>
            <td>{{review.year}}</td>
            <td>{{review.genre}}</td>
            <td>{{review.rating}}</td>
            <td>{{review.review}}</td>
            <td>{{review.reviewer}}</td>
            </tr>
        </p>
    {% endfor %}

    </table>

    <a href="{{ url_for('index') }}">Main Page</a>

{% endblock %}
