body            { font-family: "Helvetica", sans-serif; font-size: 20px; color: black; background-color: powderblue; }
h1, h2          { color: #00008F; }
form            { margin:.1em auto; padding:.1em; width: 400px; border: 1px }
.heading   { font-weight: bold; }
.page      { margin:.1em auto; padding:.1em;}