<!doctype html>
<html>
  <script type="text/Javascript">
<!--
function Refresh() {
	setTimeout("location.reload(true);", t);
}
</script>
<onload="Javascript:Refresh;">
        <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>
      {% block title %} {% endblock %} - Ripe Tomatoes
    </title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
  </head>
  {% block header %}
  <div class="header">
    <a href="{{ url_for('views.index') }}">Ripe Tomatoes</a>
  </div>
  {% endblock %}
  <div class="body">
    {% block content %}{% endblock content %}
  </div>
</html>
