{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<center>
  <h1>{{text[0]}}</h1>
  <h3>{{text[1]}}</h3>
  <br>
  <h4>{{text[2]}}</h4>
  <form method="POST" action="">
    <select name="review_lang">
      <option value="en">{{text[3]}}</option>
      <option value="es">{{text[4]}}</option>
      <option value="it">{{text[5]}}</option>
    </select>
    <button type="submit">{{text[6]}}</button>
  </form>
  <h4>{{text[7]}}: {{language}}</h4>
  <br>
  <form>
 	<button type="submit" formaction="{{ url_for('views.reviews') }}" style="background-color:#4d0099; color:white; border-radius: 6px; padding-left: 1.5em; padding-right: 1.5em;">{{text[8]}}</button>
  	<button type="submit" formaction="{{ url_for('views.submit') }}" style="background-color:#008CBA; color:white; border-radius: 6px">{{text[9]}}</button>
  </form>
</center>
{% endblock %}
