{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center;">{{action}} Movie Review Page</h2>

<form method="POST">
    <p class="heading"> Movie: <input type="text" name="movie" id="movie" value="{{moviereview.movie}}">

    <p class="heading"> Year: <input type="number" name="year" id="year" value="{{moviereview.year}}">

    <p class="heading"> Genre: <input type="text" name="genre" id="genre" value="{{moviereview.genre}}">

    <p class="heading"> Rating: <input type="number" name="rating" id="rating" value="{{moviereview.rating}}">

    <p class="heading"> Review:
    <textarea rows=5 cols=50 name="review" id="review">{{moviereview.review}}</textarea></p>

    <p class="heading"> Reviewer: <input type="text" name="reviewer" id="reviewer" value="{{moviereview.reviewer}}">

    <p><button type="submit" style="background-color:#008CBA; color:white; border-radius: 6px">Submit Review</button></p>
</form>
<br><br>
  
<form>
  <button type="submit" formaction="{{ url_for('.list') }}" style="background-color:#4d0099; color:white; border-radius: 6px">Main Page</button>
</form>

{% endblock %}
