{% extends "layout.html" %}

{% block content %}

<h2 style="text-align: center;">Movie Reviews</h2>

<table style="text-align: center; margin-left: auto; margin-right: auto; table-layout: fixed" border="1" cellspacing ="0" cellpadding="2">
  <tr>
    <th style="width: 20%"> Movie </th>
    <th> Year </th>
    <th> Genre </th>
    <th> Rating </th>
    <th style="width: 30%"> Review </th>
    <th style="width: 20%"> Reviewer </th>
  </tr>

{% for moviereview in moviereviews %}

<tr>
  <td><a href="/moviereviews/{{moviereview.id}}"> {{moviereview.movie}}</a></td>
  <td><a href="/moviereviews/{{moviereview.id}}"> {{moviereview.year}}</a></td>
  <td><a href="/moviereviews/{{moviereview.id}}"> {{moviereview.genre}}</a></td>
  <td><a href="/moviereviews/{{moviereview.id}}"> {{moviereview.rating}}</a></td>
  <td><a href="/moviereviews/{{moviereview.id}}"> {{moviereview.review}}</a></td>
  <td><a href="/moviereviews/{{moviereview.id}}"> {{moviereview.reviewer}}</a></td>
</tr>

{% else %}
<tr>
    <td>No</td>
    <td>Movie</td>
    <td>Reviews</td>
    <td>Have</td>
    <td>Been</td>
    <td>Entered</td>
  </tr>
{% endfor %}
</table>

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
{% endif %}

<br><br>

<form>
  <button type="submit" formaction="{{ url_for('.list') }}" style="background-color:#4d0099; color:white; border-radius: 6px; padding-left: 2.6em; padding-right: 2.6em;">Main Page</button>
  <button type="submit" formaction="/moviereviews/add" style="background-color:#008CBA; color:white; border-radius: 6px">Add Movie Review</button>
</form>

{% endblock %}
