{% extends "base.html" %}

{% block content %}

<h2 style="text-align: center;">Movie Reviews</h2>

<table border="1" cellspacing ="0" cellpadding="2">
  <tr>
    <td> Movie </td>
    <td> Year </td>
    <td> Genre </td>
    <td> Rating </td>
    <td> Review </td>
    <td> Reviewer </td>
  </tr>

{% for moviereview in moviereviews %}

<tr>
  <td style="white-space:nowrap;"><a href="/moviereviews/{{moviereview.id}}"> {{moviereview.movie}}</a></td>
  <td><a href="/moviereviews/{{moviereview.id}}"> {{moviereview.year}}</a></td>
  <td><a href="/moviereviews/{{moviereview.id}}"> {{moviereview.genre}}</a></td>
  <td><a href="/moviereviews/{{moviereview.id}}"> {{moviereview.rating}}</a></td>
  <td style="white-space:nowrap;"><a href="/moviereviews/{{moviereview.id}}"> {{moviereview.review}}</a></td>
  <td style="white-space:nowrap;"><a href="/moviereviews/{{moviereview.id}}"> {{moviereview.reviewer}}</a></td>
</tr>

{% else %}
<tr>
    <td>No</td>
    <td>Movie</td>
    <td>Reviews</td>
    <td>Have</td>
    <td>Been</td>
    <td>Entered</td>
  </tr>
{% endfor %}
</table>

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">More</a></li>
  </ul>
</nav>
{% endif %}

<br><br>

<form>
  <button type="submit" formaction="/moviereviews/add" style="background-color:#008CBA; color:white; border-radius: 6px">Add Movie Review</button>
</form>

{% endblock %}
