{% extends "layout.html" %}
{% block content %}
<h2 style="text-align: center;">Main Page for Movie Reviews</h2>
<br>
<br>
<p align=center><img src="{{ url_for('static', filename='MovieTheater.jpg') }}"></p>
<br>
<br>

<form>
  <button type="submit" formaction="{{ url_for('.list') }}" style="background-color:#4d0099; color:white; border-radius: 6px; padding-left: 1.5em; padding-right: 1.5em;">Movie Reviews</button>
  <button type="submit" formaction="/moviereviews/add" style="background-color:#008CBA; color:white; border-radius: 6px">Add Movie Review</button>
</form>

{% endblock %}
