{% extends "base.html" %}

{% block content %}

<h2>Movie Review</h2>

<div class="media">
  <div class="media-body">
    <p class="heading">Movie: {{moviereview.movie}}</p>
    <p class="heading">Year: {{moviereview.year}}</p>
    <p class="heading">Genre: {{moviereview.genre}}</p>
    <p class="heading">Rating: {{moviereview.rating}}</p>
    <p class="heading">Review: {{moviereview.review}}</p>
    <p class="heading">Reviewer: {{moviereview.reviewer}}</p>
  </div>
</div>

<form>
  <button type="submit" formaction="/moviereviews/{{moviereview.id}}/edit" style="background-color:#4CAF50; color:white; border-radius: 6px">Edit Movie Review</button>
  <button type="submit" formaction="/moviereviews/{{moviereview.id}}/delete" style="background-color:#f44336; color:white; border-radius: 6px">Delete Movie Review</button>
</form>
<br><br>
  
<form>
  <button type="submit" formaction="{{ url_for('.list') }}" style="background-color:#4d0099; color:white; border-radius: 6px">Main Page</button>
</form>

{% endblock %}
